<config>
  <service ip="::" port="37702" />
  <service ip="192.168.0.251" port="37702" />
   <client ip="203.174.83.116" port="62776"  mac="d6:2c:2b:9f:9b:f9" id="1963963426" count="2"/>
   <nic vir="true" name="my0" ip="192.168.3.1" mask="255.255.255.0" filter="true" />
    <nat   open="false" />
  <route open="false" />
</config>
